@using pedidos_dap5.Models.ViewModels;
@model IEnumerable<pedidos_dap5.Models.ViewModels.ViewModelPedido>



@{
    ViewData["Title"] = "Sus pedidos";
}

<h1 class="text-white">Sus tickets</h1>

@foreach (var item in Model) {
    <table class="table w-100">
        <thead>
        <tr class="w-100">
        
            <th>        <button type="button"  class="btn btn-primary" onclick="Ocultar(@item.Idpedido)">+</button></th>
              <th>
           
             Nro. de ticket
            </th>
            <th>
              Descripción del pedido
            </th>
            <th>
               Usuario
            </th>
            <th>
              Tecnico Asignado
            </th>
            <th>
               Estado pedido
            </th>
            <th>
                Fecha de inicio
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr class="w-100">
                <td></td>
                 <td>
                    @Html.DisplayFor(modelItem => item.Idpedido)
                </td>
            <td>
             @(item.Descripcion_pedido.Length > 50 ? item.Descripcion_pedido.Substring(0, 50) : item.Descripcion_pedido)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tecnico1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion_estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                    @if (item.Descripcion_estado != "Abierto" && item.Descripcion_estado != "Tec. Asignado" && item.Descripcion_estado != "En progreso"){
                        <a class="btn btn-primary" data-url="/Soluciones/Details/@item.Idpedido" onclick="mostrarFormulario(this)">Ver resolución</a>

                    } else
                    {
                        <a class="btn btn-primary" data-url="/Pedidos/Index/@item.Idpedido" onclick="mostrarFormulario(this)">Ver Detalles</a>

                    }
                </td>
        </tr>
        </tbody>
       
    </table>
                

                    @Html.Partial("Detalles", item.Idpedido)

                
        
}


